body {
    font-family: 'Poppins', sans-serif;
}

.head-section {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 15px;
}

.up {
    width: 400px;
    font-size: 30px;
    font-weight: 200;
    color: #4c4e61;
    margin: auto;
}

.down {
    width: 400px;
    font-size: 30px;
    font-weight: 600;
    margin: 7px auto;
}

.p-one {
    width: 345px;
    margin: 15px auto;
    font-size: 18px;
    line-height: 1.5;
    color: #a3a5ae;    
}

.box-section {
    padding-top: 10px;
    /* used the next two properties before knowing what they are used for  */
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    
    
}

.box {
    border-top-style: solid;
    border-top-width: 7px;
    border-radius: 10px;    
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 350px;
    
}

.box h2 {
    margin: auto;
    margin-top: 30px;
	width: 280px;
	line-height: 2;
	
}

.box p{  
    margin: auto;
    padding-left: 20px;
    padding-right: px;
    color: #a3a5ae;
    line-height: 2;
    font-size: 15.5px;
    width: 200px;  
    
}

.box img {
    position: relative;
    top: 75px;
    left: 250px;
    max-width: 20%;
}

.box p {
    margin: auto;
    width: 300px;
}

.first-box{
    border-color:  #45d3d3;
}

.second-box{
    border-color:  #ea5353;
}

.third-box{
    border-color:  #fcaf4a;
}

.fourth-box{
    border-color:  #549ef2;
    
}

footer {
    text-align: center;
    font-size: 12px;
    min-width: 270px;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 20px;
}